:root {
    /* Palette */

    --primary-solid: #575C58;
    --primary-900: rgb(87, 92, 88, 0.9);
    --primary-500: rgb(87, 92, 88, 0.5);
    --primary-300: rgb(87, 92, 88, 0.3);

    --secondary-solid: rgb(46, 53, 50);
    --secondary-900: rgb(46, 53, 50, 0.9);
    --secondary-500: rgb(46, 53, 50, 0.5);
    --secondary-300: rgb(46, 53, 50, 0.3);

    --dark-solid: #1f1f1f;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343f;
    --light-bg-solid: #fafaff;
    --light-font-solid: #fff;

    /*Typography*/
    --base-font: "Inter", sans-serif;
    --alternative-font: "Raleway", sans-serif;

    /*Font-sizes--->Utiliza em*/

    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /*Spacing--->Utiliza rem*/
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-20: 2rem;
    --spacing-24: 2.4rem;
    --spacing-28: 2.8rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}
.error{
    color: rgb(0, 0, 0);
}
.formulario{
    max-width: 1200px;
    margin: auto;
    font-size: 1.6em;
}

.input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    height: 55px !important;
    font-size: var(--font-xsmall);
}
.input:focus{
    border-bottom: 1px solid black;
    box-shadow: none;
}
.submit__p{
    font-size: var(--font-xsmall);
    color: var(--light-font-solid);
}
.section__formulario{
    background-color: var(--primary-solid);
    padding: var(--spacing-36) 0;
}
.formulario__btn{
    font-size: var(--font-xsmall) !important;
    color: var(--light-font-solid);
}
.formulario__input{
    font-size: var(--font-small) !important;
}