:root {
    /* Palette */

    --primary-solid: #575c58;
    --primary-900: rgb(87, 92, 88, 0.9);
    --primary-500: rgb(87, 92, 88, 0.5);
    --primary-300: rgb(87, 92, 88, 0.3);

    --secondary-solid:#2e3532;
    --secondary-900: rgb(46, 53, 50,0.9);
    --secondary-500: rgb(46, 53, 50,0.5);
    --secondary-300: rgb(46, 53, 50,0.3);

    --tertiary-solid: #707371;
    --tertiary-900: rgb(112, 115, 113,0.9);
    --tertiary-500: rgb(112, 115, 113,0.5);
    --tertiary-300: rgb(112, 115, 113,0.3);

    --dark-solid: #1f1f1f;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343f;
    --light-bg-solid: #fafaff;
    --light-font-solid: #fff;

    /*Typography*/
    --base-font: "Inter", sans-serif;
    --alternative-font: "Raleway", sans-serif;

    /*Font-sizes--->Utiliza em*/

    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /*Spacing--->Utiliza rem*/
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-20: 2rem;
    --spacing-24: 2.4rem;
    --spacing-28: 2.8rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
    --spacing-4:0.4rem;
}

.item{
    height: 45rem;
    min-width: 30rem;
    padding: 3rem;
    text-align: center;
    background-color: var(--secondary-900);
    margin: 0 var(--spacing-24);
    border-radius: 5px
}
.item img{
    height: 80%;
    width: auto;
    pointer-events: none;
    
}
.item div{
    padding: var(--spacing-4);
    font-size: var(--font-xsmall);
    line-height: 1;
    color: var(--light-bg-solid );
}

.item div a{
    text-decoration: none;

    color: inherit;
    font-family: inherit;
}
.slider{
    display: flex;
    cursor: grab;
    padding: var(--spacing-68) 0;
    
}
.slider-container{
    margin: var(--spacing-68) auto;
    overflow-x: hidden;
    background-color: var(--tertiary-solid);
    
}
.item__precio{
    font-size: var(--font-xsmall);
}